-# Copyright (C) 2007 Rising Sun Pictures and Matthew Landauer
-# 
-# This program is free software; you can redistribute it and/or modify
-# it under the terms of the GNU General Public License as published by
-# the Free Software Foundation; either version 2 of the License, or
-# (at your option) any later version.
-# 
-# This program is distributed in the hope that it will be useful,
-# but WITHOUT ANY WARRANTY; without even the implied warranty of
-# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
-# GNU General Public License for more details.
-# 
-# You should have received a copy of the GNU General Public License
-# along with this program; if not, write to the Free Software
-# Foundation, Inc., 59 Temple Place, Suite 330, Boston, MA  02111-1307  USA

%h1 Editing server

= error_messages_for :server
- form_for(:server, :url => url_for(:action => :update, :params => {:id => @server.id }), :html => { :method => :put }) do |f|
  %p
    %b Name
    = @server.name
  %p
    %b Update interval (in seconds)
    %br/
    = f.text_field :update_interval
  %p
    %b Heartbeat interval (in seconds)
    %br/
    = f.text_field :heartbeat_interval
  %p= submit_tag "Update"

= link_to 'Show', :action => :show, :params => {:server => @server.name }
|
= link_to 'Back', servers_path

